{% extends "layout.html" %}

{% block content %}
<section class="section">
  <div class="box">
    <section class="section">
      <div class="list">
        {% for data in dataList %}
        <div class="tile is-ancestor">
          <div class="tile">
                <div class="is-size-2">{{ data.name }}</div>
          </div>
          <div class="tile">
            <div class="is-size-4">{{ data.description }}</div>
          </div>
          <div class="tile is-ancestor is-vertical is-2">
            {% for _ in range(4) %}
            <div class="tile">
              <div class="is-pulled-up">
                <div class="buttons is-right">
                  <div class="field">
                    <label class="checkbox">
                      <input type="checkbox" value="false" checked>
                      <span class="check"></span>
                      <span class="is-size-3">Checkbox</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      </br>
      <hr style="background-color: black;">
      {% endfor %}
  </div>
</section>
{% endblock content %}
