{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Prześlij paragon</h1>
        <form id="upload_form" action="" method="post" enctype="multipart/form-data">
            <div class="field">
                <label class="label">Wybierz plik</label>
                <div class="control">
                    <input class="input" type="file" name="file">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" style="background-color: #f14668;" type="submit">Prześlij</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    document.getElementById("upload_form").addEventListener("submit", function (event) {
        event.preventDefault();
        // TODO: Add logic
        this.submit();
    });
</script>
{% endblock content %}
